<a href="https://colab.research.google.com/github/crdiegobeltramo/BeltramoBitcoin/blob/master/CB01_yfinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 766 kB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [ ]:
import yfinance as yf

lista=["ggal","AAPL","AAPL.BA"]

data = yf.download(lista,auto_adjust=True)

data

[*********************100%***********************]  3 of 3 completed

                 Close                       High                       Low  \
                  AAPL AAPL.BA   GGAL        AAPL AAPL.BA  GGAL        AAPL
Date
1980-12-12    0.100039     NaN    NaN    0.100474     NaN   NaN    0.100039
1980-12-15    0.094820     NaN    NaN    0.095255     NaN   NaN    0.094820
1980-12-16    0.087861     NaN    NaN    0.088296     NaN   NaN    0.087861
1980-12-17    0.090035     NaN    NaN    0.090470     NaN   NaN    0.090035
1980-12-18    0.092646     NaN    NaN    0.093081     NaN   NaN    0.092646
...                ...     ...    ...         ...     ...   ...         ...
2022-08-11  168.490005  4817.5  7.850  170.990005  4932.5  7.95  168.190002
2022-08-12  172.100006  4924.5  8.070  172.169998  4937.0  8.08  169.399994
2022-08-15  173.190002     NaN  8.310  173.389999     NaN  8.31  171.350006
2022-08-16  173.029999  4876.0  8.220  173.710007  4960.0  8.30  171.660004
2022-08-17  174.514999  4980.0  8.123  174.779999  4980.0  8.32  172.570007

                                Open                     Volume           \
           AAPL.BA  GGAL        AAPL AAPL.BA  GGAL         AAPL  AAPL.BA
Date
1980-12-12     NaN   NaN    0.100039     NaN   NaN  469033600.0      NaN
1980-12-15     NaN   NaN    0.095255     NaN   NaN  175884800.0      NaN
1980-12-16     NaN   NaN    0.088296     NaN   NaN  105728000.0      NaN
1980-12-17     NaN   NaN    0.090035     NaN   NaN   86441600.0      NaN
1980-12-18     NaN   NaN    0.092646     NaN   NaN   73449600.0      NaN
...            ...   ...         ...     ...   ...          ...      ...
2022-08-11  4807.0  7.70  170.059998  4900.0  7.72   57149200.0  85542.0
2022-08-12  4828.0  7.81  169.820007  4847.0  7.88   67946400.0  52345.0
2022-08-15     NaN  7.91  171.520004     NaN  8.00   54091700.0      NaN
2022-08-16  4840.5  8.10  172.779999  4960.0  8.30   56180100.0  60826.0
2022-08-17  4886.0  8.09  172.770004  4900.0  8.16   42863466.0  45183.0


                GGAL
Date
1980-12-12       NaN
1980-12-15       NaN
1980-12-16       NaN
1980-12-17       NaN
1980-12-18       NaN
...              ...
2022-08-11  538900.0
2022-08-12  409500.0
2022-08-15  464400.0
2022-08-16  445500.0
2022-08-17  202757.0

[10576 rows x 15 columns]



```
data = yf.download(  tickers list or string as well
tickers = "SPY AAPL MSFT",

                use "period" instead of start/end
                valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
                (optional, default is '1mo')
                period = "ytd",

                fetch data by interval (including intraday if period < 60 days)
                valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
                (optional, default is '1d')
                interval = "1m",

                group by ticker (to access via data['SPY'])
                (optional, default is 'column')
                group_by = 'ticker',

                adjust all OHLC automatically
                (optional, default is False)
                auto_adjust = True,

                download pre/post regular market hours data
                (optional, default is False)
                prepost = True,

                use threads for mass downloading? (True/False/Integer)
                (optional, default is True)
                threads = True,

                proxy URL scheme use use when downloading?
                (optional, default is None)
                proxy = None)
```



auto_adjust




https://github.com/ranaroussi/yfinance

In [ ]:
data = yf.download('GGAL',
                  # start="2022-07-01",
                  # end="2022-07-29",
                  period='5d',
                  interval='1h',
                  #  groupby='ticker',
                   auto_adjust=True)

data

[*********************100%***********************]  1 of 1 completed

                             Open    High     Low   Close  Volume
2022-08-11 09:30:00-04:00  7.7200  7.9500  7.7000  7.9201       0
2022-08-11 10:30:00-04:00  7.9200  7.9400  7.7050  7.7399   81018
2022-08-11 11:30:00-04:00  7.7400  7.8627  7.7400  7.8000  135204
2022-08-11 12:30:00-04:00  7.8199  7.8400  7.8000  7.8300   23694
2022-08-11 13:30:00-04:00  7.8301  7.9250  7.7950  7.9100   64013
2022-08-11 14:30:00-04:00  7.9127  7.9327  7.8400  7.8500   42100
2022-08-11 15:30:00-04:00  7.8500  7.8550  7.8100  7.8550   42416
2022-08-12 09:30:00-04:00  7.8800  7.9900  7.8050  7.8800   42528
2022-08-12 10:30:00-04:00  7.8750  7.9038  7.8501  7.8900   27138
2022-08-12 11:30:00-04:00  7.8999  7.9300  7.8650  7.9100   22245
2022-08-12 12:30:00-04:00  7.9000  7.9450  7.8900  7.9250   54762
2022-08-12 13:30:00-04:00  7.9300  7.9850  7.9150  7.9800   64084
2022-08-12 14:30:00-04:00  7.9850  8.0800  7.9799  8.0600  134705
2022-08-12 15:30:00-04:00  8.0550  8.0800  8.0300  8.0650   46054
2022-08-15 09:30:00-04:00  8.0000  8.0100  7.9100  7.9600   56377
2022-08-15 10:30:00-04:00  7.9500  8.1200  7.9400  8.0900   80958
2022-08-15 11:30:00-04:00  8.0900  8.2232  8.0800  8.1700  113732
2022-08-15 12:30:00-04:00  8.1600  8.2100  8.1500  8.1900   26892
2022-08-15 13:30:00-04:00  8.1900  8.2500  8.1800  8.2450   46107
2022-08-15 14:30:00-04:00  8.2567  8.2800  8.2200  8.2500   61479
2022-08-15 15:30:00-04:00  8.2550  8.3100  8.2100  8.3100   69587
2022-08-16 09:30:00-04:00  8.3000  8.3000  8.1400  8.1500   66593
2022-08-16 10:30:00-04:00  8.1550  8.1599  8.1000  8.1586   76591
2022-08-16 11:30:00-04:00  8.1600  8.2300  8.1200  8.1989   53890
2022-08-16 12:30:00-04:00  8.1900  8.2450  8.1773  8.1850   64356
2022-08-16 13:30:00-04:00  8.1900  8.2350  8.1600  8.2200   44215
2022-08-16 14:30:00-04:00  8.2200  8.2600  8.1900  8.2250   56962
2022-08-16 15:30:00-04:00  8.2250  8.2500  8.2200  8.2300   75123
2022-08-17 09:30:00-04:00  8.1600  8.3200  8.0900  8.2500   62687
2022-08-17 10:30:00-04:00  8.2600  8.2700  8.1300  8.1500   42905
2022-08-17 11:30:00-04:00  8.1550  8.1550  8.1000  8.1400   37735
2022-08-17 12:30:00-04:00  8.1500  8.1500  8.1200  8.1250   54545
2022-08-17 13:30:00-04:00  8.1300  8.1300  8.1200  8.1200    2267
2022-08-17 13:37:48-04:00  8.1200  8.1200  8.1200  8.1200       0

In [ ]:
import pandas as pd

# data.to_excel("data.xlsx")
data.to_csv("data.csv")

In [ ]:
df=pd.read_excel("data.xlsx",header=0,index_col=0)

df

            Open  High   Low  Close   Volume
Date
2022-07-01  7.01  7.17  6.77   7.16   371400
2022-07-05  6.69  6.85  6.49   6.84   896700
2022-07-06  6.83  6.90  6.61   6.69   378700
2022-07-07  6.98  6.98  6.64   6.69   720900
2022-07-08  6.64  6.90  6.63   6.68   599000
2022-07-11  6.63  6.70  6.44   6.56   526800
2022-07-12  6.50  6.51  6.15   6.49   874200
2022-07-13  6.41  6.55  6.23   6.32   644000
2022-07-14  6.19  6.30  6.02   6.14  1133300
2022-07-15  6.17  6.31  6.04   6.29   499000
2022-07-18  6.36  6.54  6.30   6.41   616100
2022-07-19  6.48  6.53  6.32   6.33   790400
2022-07-20  6.24  6.34  5.99   5.99   984300
2022-07-21  6.00  6.01  5.75   5.93   750000
2022-07-22  5.99  6.17  5.85   6.16  1206500
2022-07-25  6.20  6.57  6.16   6.46   776200
2022-07-26  6.41  6.62  6.36   6.49   525600
2022-07-27  6.58  6.86  6.26   6.82   862800
2022-07-28  6.89  7.47  6.84   7.39  2090800